<div class='user-body-content'>
  <div class='col-md-12'>
    <h2 class='profile-header text-center'>
      <%= @user.name %>
      <%= can_edit_profile? %>
    </h2>
    <div class='col-md-12 text-center'>
      <p><%= @user.location %></p>
    </div>
    <div class='col-md-12 text-center instruments-section'>
      <span>
        <%= image_tag "guitar.svg", class: "instrument-pic" %>
      </span>
      <span>
        <%= image_tag "clarinet.svg", class: "instrument-pic" %>
      </span>
      <span>
        <%= image_tag "piano.svg", class: "instrument-pic" %>
      </span>
      <span>
        <%= image_tag "saxophone.svg", class: "instrument-pic" %>
      </span>
    </div>
    <div class='col-md-12 text-center profile-body-content'>
      <div class='col-md-4'>
        <div class='profile-navigation-item'>
          <span class='glyphicon glyphicon-headphones profile-glyph'></span>
          <br>
          Add Jammer
        </div>
        <h3>Jammers</h3>
      </div>
      <div class='col-md-4'>
        <div class='profile-navigation-item' id='upload-song'>
          <span class='glyphicon glyphicon-music profile-glyph'></span>
          <br>
          Upload Jam
        </div>
        <h3>Jams</h3>
      </div>
      <div class='col-md-4'>
        <div class='profile-navigation-item'>
          <span class='glyphicon glyphicon-film profile-glyph'></span>
          <br>
          Upload Video
        </div>
        <h3>Cams</h3>
      </div>
    </div>
  </div>
</div>
