.sign-in-up-background
.container
  .row
    .col-md-6.col-md-offset-3.sign-in-row
      .well.sign-in-well
        %h1.sign-in-title.white Sign In
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          - if alert
            %h3#error_explanation= alert
          - if notice
            %h3#notice= notice
          .form-group
            %br/
            = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
          .form-group
            = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
          - if devise_mapping.rememberable?
            .form-group.text-left
              = f.check_box :remember_me
              = f.label :remember_me, class: "white"
          .actions.text-left
            = f.submit "Log In", class: "btn btn-primary"
          .form-group.text-left
            = render "devise/shared/links"
